@page "/"
@inherits PageBase
@inject NavigationManager NavigationManager
@inject IHttpClientService HttpClientService
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <div>Welcome back, @_loginUserInfo?.GetDisplayName()!</div>
        <div class="achievement-area">
            @if (_achievements != null)
            {
                <div class="total-achivement">
                    <ProgressCircle Value="@GetTotalProgressValue()" />
                </div>
                foreach (AchievementResponseDto achievement in _achievements)
                {
                    <div class="achievement-item">
                        <div>@achievement.LevelName</div>
                        <div class="progress">
                            <ProgressBar Value="@achievement.Progress" HasDisplayValue="true" />
                        </div>
                        <details>
                            <summary>Details by part of speech</summary>
                            <ul>
                                @foreach (AchievementDetailResponseDto detail in achievement.Details)
                                {
                                    <li class="achievement-item">
                                        <div>@detail.PartOfSpeechName</div>
                                        <div class="progress">
                                            <ProgressBar Value="@detail.Progress" HasDisplayValue="true" />
                                        </div>
                                    </li>
                                }
                            </ul>
                        </details>
                    </div>
                }
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="not-login desc">Log in to record your learning</div>
        <button class="not-login btn-login" @onclick=@LoginButtonOnClick>Login with Google</button>
    </NotAuthorized>
    <Authorizing>
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
    </Authorizing>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>