@page "/"
@inherits ViewBase
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService
@inject AchivementClientService AchivementClientService
@inject ProgressClientService ProgressClientService

<PageTitle>Home</PageTitle>
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <div>Welcome back, @_loginUser?.Fullname!</div>
        <div class="achievement-area">
            @if (_achievements != null)
            {
                <div class="total-achivement">
                    <ProgressCircle Value="@ProgressClientService.GetProgress(_achievements)" />
                </div>
                foreach (AchievementResponseDto achievement in _achievements)
                {
                    <div class="achievement-item">
                        <div>@achievement.LevelName</div>
                        <div class="progress">
                            <ProgressBar Value="@achievement.Progress" HasDisplayValue="true" />
                        </div>
                        <details>
                            <summary>Details by part of speech</summary>
                            <ul>
                                @foreach (AchievementDetailResponseDto detail in achievement.Details)
                                {
                                    <li class="achievement-item">
                                        <div>@detail.PartOfSpeechName</div>
                                        <div class="progress">
                                            <ProgressBar Value="@detail.Progress" HasDisplayValue="true" />
                                        </div>
                                    </li>
                                }
                            </ul>
                        </details>
                    </div>
                }
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="not-authorized-area">
            <div class="wrapper">
                <div class="desc">Log in to record your learning</div>
                <button class="btn-login" @onclick=@LoginButtonOnClick>Login with Google</button>
            </div>
            <div class="achievement-area">
                <div class="total-achivement">
                    <ProgressCircle Value="65" />
                </div>
                <div class="achievement-item">
                    <div>英検２級</div>
                    <div class="progress">
                        <ProgressBar Value="35" HasDisplayValue="true" />
                    </div>
                    <details>
                        <summary>Details by part of speech</summary>
                        <ul>
                        </ul>
                    </details>
                </div>
                <div class="achievement-item">
                    <div>英検準２級</div>
                    <div class="progress">
                        <ProgressBar Value="95" HasDisplayValue="true" />
                    </div>
                    <details>
                        <summary>Details by part of speech</summary>
                        <ul>
                        </ul>
                    </details>
                </div>
            </div>
        </div>
    </NotAuthorized>
    <Authorizing>
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
    </Authorizing>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>