@page "/register"

@inherits PageBase
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject IHttpClientService HttpClientService
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="register-area-wrapper">
    <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        <Authorized>
            <div>Hello, @context.User.Identity?.Name!</div>
            <div class="title">Create an account</div>
            <EditForm class="form" Model="@Form" Context="register_form" OnValidSubmit="@(() => RegisterAccount(context))">
                <DataAnnotationsValidator />
                <div>First name</div>
                <InputText @bind-Value="@Form.FirstName" />
                <ValidationMessage For="@(() => Form.FirstName)" />
                <div>Last name</div>
                <InputText @bind-Value="@Form.LastName" />
                <ValidationMessage For="@(() => Form.LastName)" />
                <div>Nickname</div>
                <InputText @bind-Value="@Form.Nickname" placeholder="optional" />
                <ValidationMessage For="@(() => Form.Nickname)" />
                <input class="btn btn-register" type="submit" value="Register" />
                <button class="btn btn-cancel" @onclick=@CancelButtonOnClick>Cancel</button>
            </EditForm>
        </Authorized>
    </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
</div>